#top{
    display: flex;
    justify-content: center;
    position: relative;
}

#bottom{
    display: flex;
    justify-content: center;
    position: relative;
}

.left,.right {
    width: 50%;
    text-align: center;
}

.left > div, .right > div {
    width: 50%;
}

.bold {
    font-weight: bold;
}

.button {
    color: white;
}

a:link {
    text-decoration: none;
}