#top{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

#bottom{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.left,.right {
    width: 40%;
    text-align: center;

}

.bold {
    font-weight: bold;
}

.button {
    color: white;
}

a:link {
    text-decoration: none;
}

.container-product {
    margin-left: 10vh;
}